.center_text {
    text-align: center;
}

.dbro_title {
    font-size: 1.5em;
}

.dbro_header {
    /*background-color: #2583ef;*/
    /*padding: 1px 0 1px 0;*/
    /*color: white;*/
    color: #2583ef;
}

.imageText {
    font-size: 0.8em;
}

.flex-container {
    display: flex;
    /*display: inline-flex; Makes container display inline*/
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    /*outline: 2px solid blue;*/
}

.flex-container > div {
    line-height: 100%;
    padding: 10px 10px 5px 0;
    font-size: 1.5em;
    cursor: pointer;
    width: 28%;
    /*outline: 2px solid red;*/
}

.imageResize {
    object-fit: contain;
    width: 380px;
    height: 380px;
    /*@media(max-width: 800px){*/
    /*    width: 100%;*/
    /*}*/
}

/*Thanos*/

.thanosText {
    font-size: 1.1em;
    font-weight: bold;
    font-family: sans-serif;
    padding: 5px 0 3px 0;
}

.timeStoneText {
    font-size: 1.1em;
    font-style: italic;
    font-family: fantasy;
    padding-top: 5px;
}
